@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

body{
    color: rgb(7, 0, 44);
    
}


h1 { 
    font-family: 'IBM Plex Sans', sans-serif; 
    text-align: center; 
    font-weight: 400;
    font-size: 68px

}
p {
    font-family: 'IBM Plex Sans', sans-serif; text-align: justify;
    font-size: 22px;
 }
h2 { 
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
}
h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px
}

blockquote { 
    font-family: 'IBM Plex Sans', sans-serif; 
    font-size: 25px;
    font-style: italic;
}